<%- include('partials/header') %>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Resultados Reometro
                    </a>
                </li>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#lineas" id="lineas">Lineas</a>
                </li>
                <li>
                    <a href="#puntos" id="puntos">Puntos</a>
                </li>
                <li>
                    <a href="#bruto" id="brutos">Bruto</a>
                </li>
                <li>
                    <a href="#bostwick" id="bostwick">Bostwick</a>
                </li>
                <li>
                    <a href="#newdata" id="newdata">Datos Nuevos</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div id="visualisation" class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/graficos.js"></script>
    <script src="js/new_graph.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    var AllData = null;
    $.get("/graficos/data/line", function (data) {
      console.log(data);
      InitLineChart(data);
    });

    $("#lineas").click(function(e) {
      $("#visualisation").empty();
      $.get("graficos/data/line", function (data) {
        console.log(data);
        InitLineChart(data);
      })
    });

    $("#newdata").click(function(e) {
      $("#visualisation").empty();
      initChart()
    });

    $("#puntos").click(function(e) {
      $("#visualisation").empty();
      $.get("graficos/data/points", function (data) {
        console.log(data);
        InitPointChart(data);
      })
    })
    $("#brutos").click(function(e) {
      $("#visualisation").empty();
      $.get("graficos/data/bruto", function (data) {
        console.log(data);
        InitLineChart(data);
      })
    })
    $("#bostwick").click(function(e) {
      $("#visualisation").empty();
      $.get("graficos/data/bostwick", function (data) {
        console.log(data);
        InitLineChart(data);
      })
    })


    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<%- include('partials/footer') %>
